@import "global-variables";
$gray-line: #CDCDCD;

.ant-modal {
    width: fit-content !important;
    max-height: 95vh;
    overflow: auto;

    .ant-modal-content {
        width: fit-content !important;
        min-height: 400px;

        .ant-modal-header {
            width: 100%;

            .ant-modal-title {
                text-align: left;
                font-size: 24px;
                font-weight: 700;
                line-height: 30px;
                color: $blue-color;
                margin-bottom: 20px;

                @media(max-width: $breakpoint-small-desktop) {
                    @include scaleDownBy20(font-size, 24);
                    @include scaleDownBy20(line-height, 30);
                }
            }
        }

        .ant-modal-body {
            width: 100%;
            max-width: 751px;
            height: 100%;

            .stepper-container {
                padding: 0px 40px;
                position: relative;
                overflow: hidden;
            
                // Line before the first stepper milestone
                .active-line {
                    position: absolute;
                    top: 75%;
                    left: 0px;
                    height: 3px;
                    width: 100px;
                    background-color: $green-color;
                }
            
                // line after the last stepper milestone
                .inactive-line {
                    position: absolute;
                    top: 75%;
                    right: 0px;
                    height: 3px;
                    width: 100px;
                    background-color: #CDCDCD;
                }
            
                .ant-steps-item-wait {
                    .ant-steps-item-container {
                        display: flex;
                        flex-direction: column-reverse;
                        position: relative;
                    
                        .ant-steps-item-tail {
                            position: absolute;
                            top: 0 !important;
                            display: flex;
                            align-items: flex-end;
                            height: 100%;
                            padding: 0px !important;
                    
                            &::after {
                                height: 3px;
                                margin-bottom: 12px;
                                margin-bottom: 17px;
                                background-color: $gray-line !important;
                                z-index: 1;
                            }
                        }
                
                        .ant-steps-item-icon {
                            height: 40px;
                            width: 40px;
                            display: flex !important;
                            justify-content: center;
                            align-items: center;
                            background-color: #fff;
                            border: 1px $green-color solid;
                            z-index: 1;

                            @media(max-width: $breakpoint-small-desktop) {
                                @include scaleDownBy20(height, 40);
                                @include scaleDownBy20(width, 40);
                            }
                
                            .ant-steps-icon {
                                width: 20px;
                                height: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 14px;
                                color: $green-color;
                            }
                        }
                
                        .ant-steps-item-content {
                
                            .ant-steps-item-title {
                                color: $gray-text;
                                font-weight: 600;
                                width: max-content;

                                @media(max-width: $breakpoint-small-desktop) {
                                    @include scaleDownBy20(font-size, 16);
                                }
                            }
                        }
                    
                    
                    }
                }
                
                .ant-steps-item-active {
                    .ant-steps-item-container {
                        display: flex;
                        flex-direction: column-reverse;
                        position: relative;
                    
                        .ant-steps-item-tail {
                            position: absolute;
                            top: 0 !important;
                            display: flex;
                            align-items: flex-end;
                            height: 100%;
                            padding: 0px !important;
                    
                            &::after {
                                height: 3px;
                                margin-bottom: 17px;
                                background-color: $gray-line !important;
                                z-index: 1;
                            }
                            
                        }
                
                        .ant-steps-item-icon {
                            height: 40px;
                            width: 40px;
                            display: flex !important;
                            justify-content: center;
                            align-items: center;
                            background-color: $green-color !important;
                            border: $green-border;
                            z-index: 1;

                            @media(max-width: $breakpoint-small-desktop) {
                                @include scaleDownBy20(height, 40);
                                @include scaleDownBy20(width, 40);
                            }
                
                            .ant-steps-icon {
                                color: #fff !important;
                                width: 20px;
                                height: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 14px;
                            }
                        }
                    
                        .ant-steps-item-content {
                
                            .ant-steps-item-title {
                                color: $green-color !important;
                                font-weight: 600;
                                width: max-content;

                                @media(max-width: $breakpoint-small-desktop) {
                                    @include scaleDownBy20(font-size, 16);
                                }
                            }
                        }
                    
                    }
                }
                
                .ant-steps-item-finish {
                    .ant-steps-item-container {
                        display: flex;
                        flex-direction: column-reverse;
                        // border: $green-border;
                        position: relative;
                        // width: 
                    
                        .ant-steps-item-tail {
                            // border: $red-border;
                            position: absolute;
                            top: 0 !important;
                            display: flex;
                            align-items: flex-end;
                            height: 100%;
                            padding: 0px !important;
                    
                            &::after {
                                height: 3px;
                                background-color: $green-color !important;
                                margin-bottom: 17px;
                            }
                        }
                
                        .ant-steps-item-icon {
                            height: 40px;
                            width: 40px;
                            display: flex !important;
                            justify-content: center;
                            align-items: center;
                            background-color: $green-color !important;
                            z-index: 1;

                            @media(max-width: $breakpoint-small-desktop) {
                                @include scaleDownBy20(height, 40);
                                @include scaleDownBy20(width, 40);
                            }
                            
                            .ant-steps-icon {
                                color: #fff !important;
                                width: 20px;
                                height: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 16px;
                            }
                        }
                    
                        .ant-steps-item-content {
                
                            .ant-steps-item-title {
                                color: $green-color !important;
                                font-weight: 600;
                                width: max-content;

                                @media(max-width: $breakpoint-small-desktop) {
                                    @include scaleDownBy20(font-size, 16);
                                }
                            }
                        }
                    
                    }
                }
            
                
            }
            
            
            // Form Input groups
            form {
                margin: 40px 0;
                @media(max-width: $breakpoint-small-desktop) {
                    @include scaleDownBy20(margin-top, 40);
                    @include scaleDownBy20(margin-bottom, 40);
                }
            
                .form-row {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    gap: 24px;
                    margin-bottom: 20px;
                
                    .input-group {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 45%;
                        min-width: 345.5px;
                        min-height: 81px;
                        font-size: 14px;
                        font-weight: 400;
                        color: $gray-text;
                        @media(max-width: $breakpoint-small-desktop) {
                            @include scaleDownBy20(min-height, 81);
                            @include scaleDownBy20(font-size, 14);
                        }
                    
                        .input-element {
                            border: $gray-border;
                            color: $blue-color;
                            &::placeholder {
                                color: $gray-text;
                            }
                            border-radius: 4px;
                            height: 56px;
                            font-size: 16px;

                            &:hover, &:focus {
                                border: lightgreen 0.5px solid;
                            }

                            @media(max-width: $breakpoint-small-desktop) {
                                @include scaleDownBy20(height, 56);
                                @include scaleDownBy20(font-size, 16);
                            }

                        }
                    
                        .select-element {
                            border: $gray-border;
                            border-radius: 4px;
                            height: 56px;
                            &:hover, &:focus {
                                border: lightgreen 0.5px solid;
                            }

                            @media(max-width: $breakpoint-small-desktop) {
                                @include scaleDownBy20(height, 56);
                            }
            
                            .ant-select-selector {
                                font-size: 16px;
                                color: $blue-color;
                                border: none;
                                
                                .ant-select-selection-placeholder {
                                    color: $gray-text;
            
                                    &::after {
                                        color: $blue-color  !important;
                                    }
                                }

                                @media(max-width: $breakpoint-small-desktop) {
                                    @include scaleDownBy20(font-size, 16);
                                }
                            }
                            
                        }

                        .radio-group {
                            border: $gray-border;
                            border-radius: 4px;
                            min-height: 51px;
                            display: flex;
                            align-items: center;
                            padding-left: 10px;

                            @media(max-width: $breakpoint-small-desktop) {
                                @include scaleDownBy20(min-height, 51);
                                @include scaleDownBy20(padding-left, 10);
                            }

                            .ant-radio-wrapper {
                                color: $blue-color;
                                font-size: 16px;
                                font-weight: 500;

                                @media(max-width: $breakpoint-small-desktop) {
                                    @include scaleDownBy20(font-size, 16);
                                }

                                &:hover {
                                    .ant-radio-inner {
                                        background-color: #fff;
                                        border: $green-color solid 1px;
                                        
                                        &:hover {
                                            @extend .ant-radio-inner;
                                        }
                                        &::after {
                                            background-color: $green-color;
                                        }
                                    }
                                }

                                .ant-radio-checked {

                                    .ant-radio-inner {
                                        background-color: #fff;
                                        border: $green-color solid 1px;
                                        
                                        &:hover {
                                            @extend .ant-radio-inner;
                                        }
                                        &::after {
                                            background-color: $green-color;
                                        }
                                    }
                                }

                            }
                        }

                        .switch-group {
                            border: $gray-border;
                            border-radius: 4px;
                            height: 51px;
                            display: flex;
                            gap: 20px;
                            align-items: center;
                            padding-left: 10px;

                            @media(max-width: $breakpoint-small-desktop) {
                                @include scaleDownBy20(height, 51);
                            }


                            .switch-element {
                                height: 20px;
                                width: 50px;

                                &:active, &:hover, &:focus {
                                    @extend .borderless-outlineless;
                                }

                                @media(max-width: $breakpoint-small-desktop) {
                                    @include scaleDownBy20(font-size, 16);
                                }
                            }

                            .switch-element.ant-switch-checked {
                                background-color: $green-color;
                            }
                        }
                    }
        
                    .input-single {
                        @extend .input-group;
                        width: 100%;
        
                        .text-area-element {
                            font-size: 16px;
                            color: $blue-color;
        
                            &::placeholder {
                                color: $gray-text;
                            }
                            &:hover, &:focus {
                                border: lightgreen 0.5px solid;
                            }

                            @media(max-width: $breakpoint-small-desktop) {
                                @include scaleDownBy20(font-size, 16);
                            }
                            
                        }
                    }

                    .ant-select-selection-overflow-item {
                        min-height: 33px !important;
                        min-width: 61px !important;

                        @media(max-width: $breakpoint-small-desktop) {
                            // @include scaleDownBy20(min-height, 33);
                            @include scaleDownBy20(min-width, 61);
                        }

                        .ant-select-selection-item {
                            height: 100%;
                            padding: 8px;

                            .ant-select-selection-item-content {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .additional-section {
                    border: $gray-border;
                    border-radius: 4px;
                    padding: 10px;

                    @media(max-width: $breakpoint-small-desktop) {
                        @include scaleDownBy20(padding, 10);
                    }

                    h4 {
                        font-size: 16px;
                        font-weight: 600;
                        color: $blue-color;

                        @media(max-width: $breakpoint-small-desktop) {
                            @include scaleDownBy20(font-size, 16);
                        }
                    }
                }
                
            }

        }

        .ant-modal-footer {
            // border: $green-border;

            .form-modal-button {
                border: $green-border !important;
                height: 52px;
                width: 345.5px;
                font-size: 16px;
                font-weight: 700;

                &:focus, &:active {
                    outline: none;
                    border: $green-border;
                }

                @media(max-width: $breakpoint-small-desktop) {
                    @include scaleDownBy20(font-size, 16);
                    @include scaleDownBy20(height, 52);
                }
            }

            .form-modal-cancel-button {
                @extend .form-modal-button;
                color: $green-color;
                background-color: transparent;
            }

            .form-modal-confirm-button {
                @extend .form-modal-button;
                color: #fff;
                background-color: $green-color;
            }

            .form-modal-confirm-button-disabled {
                @extend .form-modal-confirm-button;
                // background-color: lighten($green-color, 40%);
                opacity: 40%;
            }
        }

        @media(max-width: $breakpoint-small-desktop) {
            @include scaleDownBy20(min-height, 400);
        }
    }
}





