@import "global-variables";

.ant-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px !important;
    width: 440px;
    z-index: 9999;
    max-width: 90vw !important;

    @media(max-width: $breakpoint-small-desktop) {
        @include scaleDownBy20(width, 420);
        @include scaleDownBy20(padding, 40);
    }

    .modal-icon-container {
        display: flex;
        justify-content: center;
    }

    .modal-large-text {
        font-size: 24px;
        text-align: center;
        min-width: 50%;
        line-height: 29px;
        font-weight: 500;
        color: $blue-color;
        margin: 20px 0;
        padding: 0 40px;

        @media(max-width: $breakpoint-small-desktop) {
            @include scaleDownBy20(font-size, 24);
            @include scaleDownBy20(margin-top, 20);
            @include scaleDownBy20(margin-bottom, 20);
            @include scaleDownBy20(padding-right, 40);
            @include scaleDownBy20(padding-left, 40);
        }
    }

    .modal-small-text {
        @extend .modal-large-text;
        font-size: 15px;
        padding: 0px;

        @media(max-width: $breakpoint-small-desktop) {
            @include scaleDownBy20(font-size, 15);
        }
    }

    .ant-modal-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
    
        .modal-cancel-delete {
            width: 120px;
            height: 50px;
            background-color: transparent;
            border: solid 1.5px #C8C8C8;
            color: #C8C8C8;
    
            &:hover, &:active {
                color: darken(#C8C8C8, 20%) !important;
                border-color: darken(#C8C8C8, 10%) !important;
            }
            &:focus {
                outline: none
            }

            @media(max-width: $breakpoint-small-desktop) {
                @include scaleDownBy20(height, 50);
                @include scaleDownBy20(font-size, 16);
            }
        }

        .modal-confirm-delete {
            width: 228px;
            height: 50px;
            background-color: $red-color;
    
            &:hover {
                background-color: darken($red-color, 5%) !important;
            }
            &:active {
                background-color: darken($red-color, 10%) !important;
            }
            &:focus {
                @extend .borderless-outlineless;
            }

            @media(max-width: $breakpoint-small-desktop) {
                @include scaleDownBy20(height, 50);
                @include scaleDownBy20(font-size, 16);
            }
        }
    }
}
