$blue-color: #2D416F;
$gray-color: #F4F6F8;
$green-color: #4BAA79;
$red-border: red solid 2px;

.borderless-outlineless {
    border: none;
    outline: none;
}

.actions-section-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    // width: fit-content;
    justify-content: space-between;
    padding: 16px;
    background-color: $gray-color;

    .search-filter {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        // justify-content: space-between;
        width: 340px;


    }
}