$blue-color: #2D416F;
$gray-color: #F4F6F8;
$gray-text: #818DA9;
$green-color: #4BAA79;
$red-color: #E05453;
$red-border: $red-color solid 2px;
$green-border: $green-color solid 2px;
$blue-border: $blue-color solid 2px;
$gray-border: #E5E5E5 solid 1px;
$page-padding: 0px 40px;
$base_font_size: 16;

//Media queries

$breakpoint-tablet: 768px;
$breakpoint-small-desktop: 1024px;
$breakpoint-large-desktop: 1400px;


@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
      @return $number / ($number * 0 + 1);
    }
  
    @return $number;
}

@function get80PercentOf($value) {
    @return $value * 80 / 100;
}

@function get80PercentRawOf($value) {
    @return strip-unit($value) * 80 / 100;
}

@mixin scaleDownBy20($key,$px) {
    #{$key}: #{get80PercentRawOf($px)}px !important;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.page-container {
    max-height: 100%;
    padding: $page-padding;
    overflow: auto;
}

.borderless-outlineless {
    border: none !important;
    outline: none !important;
}

.actions-section-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    // width: fit-content;
    justify-content: space-between;
    padding: 16px;
    background-color: $gray-color;

    .search-filter {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 344px;
        max-width: 100%;
        box-sizing: border-box;

        #search-container {
            max-width: 100%;
        }


    }
}