$blue-color: #2D416F;
$gray-color: #F4F6F8;
$green-color: #4BAA79;
$red-color: #E05453;
$red-border: $red-color solid 2px;
$page-padding: 0px 40px;

.page-container {
    max-height: 100%;
    padding: $page-padding;
    overflow: scroll;
}

.borderless-outlineless {
    border: none !important;
    outline: none !important;
}

.actions-section-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    // width: fit-content;
    justify-content: space-between;
    padding: 16px;
    background-color: $gray-color;

    .search-filter {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 344px;


    }
}