@import "global-variables";

.ant-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px !important;
    width: 420px;
    z-index: 9999;

    @media(max-width: $breakpoint-small-desktop) {
        @include scaleDownBy20(width, 420);
        @include scaleDownBy20(padding, 40);
    }

    .modal-icon-container {
        display: flex;
        justify-content: center;
    }

    .modal-text {
        font-size: 24px;
        text-align: center;
        min-width: 50%;
        line-height: 29px;
        font-weight: 500;
        color: $blue-color;
        margin: 40px auto;
        padding: 0 40px;

        @media(max-width: $breakpoint-small-desktop) {
            @include scaleDownBy20(font-size, 24);
            @include scaleDownBy20(margin-top, 40);
            @include scaleDownBy20(margin-bottom, 40);
            @include scaleDownBy20(padding-right, 40);
            @include scaleDownBy20(padding-left, 40);
        }
    }

    .ant-modal-footer {
        display: flex;
    
        &:nth-child(2){
            display: flex;
            justify-content: center;
        }
        .success-modal-confirm {
            width: 354px;
            height: 56px;
            font-size: 16px;
            margin: 0 !important;
            background-color: $green-color;
    
            &:hover {
                background-color: lighten($green-color, 10%) !important;
            }
            &:active {
                background-color: darken($green-color, 10%) !important;
            }
            &:focus {
                @extend .borderless-outlineless;
            }

            @media(max-width: $breakpoint-small-desktop) {
                @include scaleDownBy20(width, 354);
                @include scaleDownBy20(height, 56);
                @include scaleDownBy20(font-size, 16);
            }
        }
    }
}
