@import "global-variables";

#create-button {
    background-color: $green-color;
    height: 40px;
    min-width: 178px;
    width: max-content;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @extend .borderless-outlineless;

    &:active {
        scale: 102%;
    }
    &:hover {
        background-color: lighten($green-color, 5%);
    }

    .button-text {
        margin-right: 15px;
    }
}