@import "global-variables";

#create-button {
    background-color: $green-color;
    color: #fff;
    height: 40px;
    min-width: 178px;
    width: max-content;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @extend .borderless-outlineless;

    &:active {
        scale: 102%;
    }
    &:hover {
        background-color: lighten($green-color, 5%);
    }

    .button-text {
        margin-right: 15px;
    }

    @media(max-width: $breakpoint-small-desktop) {
        @include scaleDownBy20(font-size, 16);
        @include scaleDownBy20(height, 40);
        @include scaleDownBy20(min-width, 178);
    }
}