@import "global-variables";

.ant-drawer {
    @extend .borderless-outlineless;
    
    .ant-drawer-content-wrapper {
        width: fit-content !important;
        max-width: 70% !important;
        float: right;
    
        .ant-drawer-content {
            padding: 32px 20px;
    
            .ant-drawer-header {
                border: none;
    
                .title-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100px;

                    @media(max-width: $breakpoint-small-desktop) {
                        @include scaleDownBy20(height, 100);
                    }
                
                    button {
                        background-color: transparent;
                        color: $red-color;
                        border: $red-border;
                        width: 24px;
                        height: 24px;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 7px;
    
                        &:focus, &:active, &:hover {
                            outline: solid $red-color;
                            border: none;
                            font-size: 10px;
                            font-weight: bold;
                        }

                        @media(max-width: $breakpoint-small-desktop) {
                            @include scaleDownBy20(width, 24);
                            @include scaleDownBy20(height, 24);
                        }
                    }
                
                    p {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 30px;
                        color: $blue-color;
                        text-transform: uppercase;
                        margin: 0;

                        @media(max-width: $breakpoint-small-desktop) {
                            @include scaleDownBy20(font-size, 24);
                            @include scaleDownBy20(line-height, 30);
                        }
                    }

                }
            }
        }
    }
}