@import "global-variables";

#element-links-outlet {

    .breadcrumb-container {
        padding: 14px 0;

        .breadcrumbs {
            font-weight: 700;
            color: #ABB3C5;
        }
        .activeCrumb {
            color: $blue-color;
        }
    }

    .main-content {
        background-color: #fff;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        overflow: scroll;

        .title {
            color: $blue-color;
            font-size: 19px;
        }
        section.details {
            margin-bottom: 100px;
        }
        section.actions {
            @extend .actions-section-container;
        }
        .data-section {
            padding: 24px 0;
        }
    }
}