@import "global-variables";

#search-container {
    width: 280px;
    height: 40px;
    display: flex;

    @media(max-width: $breakpoint-small-desktop) {
        @include scaleDownBy20(width, 280);
        @include scaleDownBy20(height, 40);
        @include scaleDownBy20(font-size, 16);
    }

    .search-input {
        background-color: #fff;
        color: #1A3E56;
        padding-left: 12px;
        padding-right: 12px;
        box-sizing: border-box;
        flex: 1;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: 1px solid darken($gray-color, 10%);

        &::placeholder {
            color: #1A3E56;
        }
        &:focus {
            outline: none;
        }
    }
    .search-button {
        height: 40;
        width: 40;
        background-color: $green-color;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        @extend .borderless-outlineless;

        &:hover, &:active, &:focus {
            @extend .search-button;
            background-color: lighten($green-color, 5%);
        }
    }
}

#search-container-alt {
    @extend #search-container;

    min-width: 300px;
    height: 57px;

    @media(max-width: $breakpoint-small-desktop) {
        @include scaleDownBy20(min-width, 300);
        @include scaleDownBy20(height, 57);
        @include scaleDownBy20(font-size, 16);
    }
}