@import "global-variables";

#elements-outlet {
    @extend .page-container;

    .breadcrumb-container {
        padding: 14px 0;
        @media(max-width: $breakpoint-small-desktop) {
            @include scaleDownBy20(padding-top, 14);
            @include scaleDownBy20(padding-bottom, 14);
        }

        .breadcrumbs {
            font-weight: 700;
            color: #ABB3C5;

            @media(max-width: $breakpoint-small-desktop) {
                @include scaleDownBy20(font-size, 16);
            }
        }
        .activeCrumb {
            color: $blue-color;
        }

        
    }

    .main-content {
        background-color: #fff;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        overflow: auto;

        @media(max-width: $breakpoint-small-desktop) {
            @include scaleDownBy20(padding, 20);
        }

        .title {
            color: $blue-color;
            font-size: 19px;

            @media(max-width: $breakpoint-small-desktop) {
                @include scaleDownBy20(font-size, 19);
            }
        }
        section.actions {
            @extend .actions-section-container;
        }
        .data-section {
            padding: 24px 0;

            @media(max-width: $breakpoint-small-desktop) {
                @include scaleDownBy20(padding-top, 24);
                @include scaleDownBy20(padding-bottom, 24);
            }
        }
    }
}