@import "global-variables";

#elements-outlet {

    .breadcrumb-container {
        padding: 14px 0;

        .breadcrumbs {
            font-weight: 700;
            color: #ABB3C5;
        }
        .activeCrumb {
            color: $blue-color;
        }
    }

    .main-content {
        background-color: #fff;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        overflow: scroll;

        .title {
            color: $blue-color;
            font-size: 19px;
        }
        .actions {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
            padding: 16px;
            background-color: $gray-color;

            .search-filter {
                display: flex;
                justify-content: space-between;
                width: 340px;


            }
        }
        .data-section {
            padding: 24px 0;
        }
    }
}