@import "global-variables";

.ant-table thead.ant-table-thead .ant-table-cell {
    background-color: $blue-color;
    color: #fff;
    border: none;

    &:hover {
        background-color: $blue-color;
        color: #fff;
    }
}

.ant-table-cell.ant-table-column-has-sorters {
    &::before {
        display: none;
    }
}

.ant-table-column-sorter { display: none; }

ul.ant-pagination.ant-table-pagination.ant-table-pagination-right {
    display: flex;

    .ant-pagination-total-text {
        flex: 1;
        padding: 0 15px;
        min-width: max-content;

        .pagesize-container {
            width: 257px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // border: red 2px solid;

            span {
                color: $blue-color;
                font-weight: 700;
            }

            .pagesize-dropdown {
                margin: 0 15px;
                background-color: #E2E2E2;
                min-width: 81px;
                height: 100%;
                border-radius: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $blue-color;
                font-size: 14px;
            }
        }
    }

    .table-nav-buttons {
        font-weight: 500;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        @extend .borderless-outlineless;
    }

    .ant-pagination-prev, .ant-pagination-next {
        background-color: #E2E2E2;
       @extend .table-nav-buttons;

        a {
            color: $blue-color;
        }

    }

    .ant-pagination-item {
        @extend .table-nav-buttons;

        background-color: #E2E2E2;

        a {
            color: #ABB3C5;
        }
    }

    .ant-pagination-item.ant-pagination-item-active {
        @extend .borderless-outlineless;

        background-color: $blue-color;
        
        a {
            color: #fff;
        }
        
    }
}



.table-wrapper {
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
}

.sort-button {
    background-color: transparent;
    
    &:hover, &:focus {
        @extend .borderless-outlineless;
        scale:100%;
    }
}

.row-action-button {
    width: 25px;
    height: 25px;
    padding: 4px;
    box-sizing: border-box;
    border: $green-color solid 2px;
    border-radius: 6px;
    background-color: transparent;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;

    .round-green-dot {
        background-color: $green-color;
        border-radius: 50%;
        height: 1px;
        width: 1px;
    }
}